*.DS_Store
*.tdms
*.pdf
*.html
*.chcfg

*.aux
*.bak
*.bbl
*.blg
*.brf
*.dict
*.err
*.lof
*.log
*.out
*.pdfsync
*.toc
*.eps
*.fdb_latexmk
*_temp.tex
*.synctex.gz
*.lot
*.bcf
*.fls
*.xwm
*.ist
*.xml
*.xlsx
*__pycache__/
*.vscode

*.smv
*.binfo
*.end
*.sinfo
*_git.txt

01_Data/raw/
02_Info/Compartment_Channel_List.csv
02_Info/compartment_exp_info.csv
03_Scripts/reduce_comp_data_files.py
03_Scripts/furniture_mass.py